name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: install nix
      if: steps.cache.outputs.cache-hit != 'true'
      uses: cachix/install-nix-action@v3
    - name: use cachix
      uses: cachix/cachix-action@v2
      with:
        name: twitchard
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
    - name: build hakyll binary
      if: steps.cache.outputs.cache-hit != 'true'
      run: nix-build | cachix push twitchard
    - name: build site
      run:  result/bin/site build
    - name: publish with peaceiris/actions-gh-pages
      uses: peaceiris/actions-gh-pages@v2.5.1
      env:
        ACTION_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        PUBLISH_BRANCH: master
        EXTERNAL_REPOSITORY: twitchard/twitchard.github.io



